*:focus,
*:focus-visible {
  outline: var(--outline-color) solid 3px;
  outline-offset: 1px;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--scrollbar-track-color);
  border-radius: var(--border-radius-normal);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: var(--border-radius-normal);
  outline: 1px solid slategrey;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
