$color-night: rgb(10, 10, 10);
$color-teal: #0e7c7b;
$color-verdigris: #17bebb;
$color-nyanza: #d4f4dd;
$color-rusty-red: #d62246;

$color-white: rgb(255, 255, 255);
$color-honeydew: rgb(243, 252, 240);

$primary-color: #2f4f4f;
