@use "../../../../styles/variables";

.menu {
  align-items: center;
  display: flex;
  font-family: inherit;
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  justify-content: flex-start;
  height: calc(100vh - 280px);
  @media only screen and (max-width: variables.$tablet-breakpoint) {
    width: 100%;
  }
}

.menuNav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 320px;
  height: 100%;
  padding-inline: var(--spacing);
  transition: width 0.4s;
  overflow: auto;

  @media only screen and (max-width: variables.$tablet-breakpoint) {
    width: 100%;
  }
  ul {
    width: 100%;
  }
}
